# Adam's .inputrc

# Crap from RedHat 6.2's /etc/inputrc.  Order does matter - for pry,
# at least, these need to appear before any meta bindings.
# meta-flag is a synonym for input-meta.

set input-meta Off
set convert-meta On
set output-meta On

# might need "\ep" / "\en" here
Meta-p: history-search-backward
Meta-n: history-search-forward

"\eOd": backward-word
"\eOc": forward-word

# for linux console
"\e[1~": beginning-of-line
"\e[4~": end-of-line
"\e[5~": beginning-of-history
"\e[6~": end-of-history
"\e[3~": delete-char
"\e[2~": quoted-insert

# for xterm
"\eOH": beginning-of-line
"\eOF": end-of-line

#for freebsd console
"\e[H": beginning-of-line
"\e[F": end-of-line

# Fix bash's utterly moronic defaults for completion
set bell-style visible
set show-all-if-ambiguous on
set show-all-if-unmodified on
